.Rproj.user
.Rhistory
.RData
.Ruserdata
ParcelsGDB.zip
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shx
*.zip
*.cpg
ParcelsGDB.mdb
ParcelsGDB.zip
city.shp.xml
ParcelsGDB.zip
All_Parcels.geojson
Overlay_Zoning_Districts.geojson
Zoning_Districts.geojson
